/* Small (sm) */
$screen-sm-min: 600px;

/* Medium (md) */
$screen-md-min: 880px;

/* Large (lg) */
$screen-lg-min: 1024px;

/* Extra Large (xl) */
$screen-xl-min: 1440px;

/* Two Extra Large (xxl) */
$screen-xxl-min: 1536px;