@import "../variables/breakpoints";
@import "../variables/mixins";
@import "../variables/colors";
@import "../theme/classes";
@import "../../public/font/stylesheet.css";

html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  *::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
  }

  /* Old shadow dom for play button */

  *::-webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
  }

  /* New shadow dom for play button */

  /* This one works! */

  *::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  // * {
  //   box-sizing: border-box;
  // }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }

    body {
      // color: white;
      background: white;
      background-image: url("/blue.svg");
    }
  }
}
