.dropdown {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #A8B1D1;
  font-family: 'Source Sans Pro';
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 1.5rem;
}

.dropdown:hover .dropdown_content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #000000;
}

.dropdown_content a {
  margin-left: 0.5rem;
}

.dropdown_content a:hover {
  text-decoration: underline;
  margin-left: 0.25rem;
}