.circle {
  width: 164px;
  height: 164px;

  @media (max-width: 768px) {
    width: 114px;
    height: 114px;
  }

  position: relative;
  background-color: transparent;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: rotateText 10s linear infinite;
}

@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 10px;
  transform-origin: 0 70px;

  @media (max-width: 768px) {
    font-size: 8px;
    transform-origin: 0 46.3px;
  }
}