.stack-bar {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 80px;
  margin-bottom: 131px;

  @media (max-width: 768px) {
    padding: 0 25px;
    margin-bottom: 81px;
  }

}

.slider {
  position: relative;
  margin: auto;
  display: grid;
  place-items: center;
  overflow: hidden;
  flex-grow: 0.5;
}

.slider-track {
  display: flex;
}

.slide {
  height: 50px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-img {
  position: relative;
}
.slide-img::after {
  width: 100%;
  height: 100%;
  background-color: grey;
  content: "";
}

.slide-first {
  @extend .slide;
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: -1500px;
  }
}

.slider::before,
.slider::after {
  background: linear-gradient(
    88.41deg,
    #ffffff 4.07%,
    rgba(255, 255, 255, 0) 92.92%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider:after {
  right: -1px;
  top: 0;
  transform: rotateZ(180deg);
}
